// --------------- Import CSS-files ---------------

@import "normalize.css";
@import "font-awesome.min.css";

@import "https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Montserrat:700";

@import "variables";
@import "mixins";

// --------------- Styles ---------------

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	background-color: #f9f9fb;
}

header {
	height: 345px;
	background-color: $colorMineShaftDark;
}

.container {
	@extend header;
	position: absolute;
	width: 100%;
}

.wrapper {
	width: 1530px;
	margin: 0 auto;
}

header section {
	height: 55px;
	text-align: center;  	
}

.header-button {
	display: inline-block;
	position: relative;
	text-align: center;  
	line-height: 55px;
	@include border(left, $colorMineShaft);
	
	&:hover i,
	&:focus i {
		color: $colorDustyGray;
	}
}

.menu-trigger {
	float: left;
	width: 62px;
	@include border(right, $colorMineShaft);
}

.logo {
	left: 155px;
	border-left: none;
}

.head-social {
	float: right;
	
	&:last-child {
		@include border(right, $colorMineShaft);
	}
}

.header-icon {
	color: $colorWhite;
	width: 57px;
}

h1 {
	display: none;
}

main {
	position: relative;
	top: -290px;
	padding-bottom: 152px;
}

.slider {
	position: relative;
	
	h2,
	h4 {
		position: absolute;
		color: $colorWhite;
		left: 100px;
	}
	
	h2 {
		@include fontHind(40px);
		text-transform: uppercase;
		top: 232px;
		letter-spacing: 5.4px;
		line-height: 1.25;
	}
	
	h4 {
		@include fontHind(18px);
		top: 203px;
		letter-spacing: 3.5px;
		line-height: 1.33;
	}
}

.featured-article {
	position: relative;
	
	h3 {
		position: absolute;
		@include fontHind(14px);
		text-transform: uppercase;
		color: $colorWhite;
		font-weight: 600;
		top: -322px;
		right: -32px;
		letter-spacing: 2.8px;
		transform: rotate(-90deg);
	}
}

.switch-states {
	position: absolute;
	top: -324px;
	right: 80px;
	
	div {
		width: 6px;
		height: 6px;
		background-color: rgba(255, 255, 255, 0);
		@include border(all, $colorWhite);
		margin-top: 9px;
		
		&:nth-of-type(2) {
			background-color: $colorDustyGray;
		}
	}
}

.arrow-template {
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 27px;
	color: $colorWhite;
	right: 38px;
	transform: rotate(-90deg);
}
	
.up-arrow {
	&:after {
		@extend .arrow-template;
		content: "\f178";
		top: -422px;
	}
	
	&:hover:after,
	&:focus:after {
		color: $colorDustyGray;
	}
}

.down-arrow {
	&:before {
		@extend .arrow-template;
		content: "\f177";
		top: -194px;
	}
	
	&:hover:before,
	&:focus:before {
		color: $colorDustyGray;
	}
}

.newsletter {
	height: 100px;
	line-height: 100px;
	background-color: #f7f7f7;
	margin: 0;
	
	div,
	input,
	button {
		height: 50px;
		margin-right: 23px;
	}
	
	input,
	button {
		vertical-align: text-bottom;
		@include border(all, $colorAlto);
	}
	
	div {
		display: inline-block;
		width: 200px;  
		height: auto;
		vertical-align: super;
		padding-left: 30px;
		
		h2 {
			@include fontMontserrat(20px);
			text-transform: uppercase;
			color: $colorMineShaftDark; 
			line-height: 1.4;
			letter-spacing: 4px; 
		}
	}
	
	input {
		width: 420px;
		
		&[placeholder] {
			@include fontHind(15px);
			text-transform: uppercase;
			letter-spacing: 1.3px;
			padding-left: 30px;
		}
	}
	
	button {
		@include fontHind(14px);
		text-transform: uppercase;
		color: $colorWhite;
		width: 283px;
		letter-spacing: 3px;
		line-height: normal;
		background-color: $colorMineShaftDark;
		
		&:hover,
		&:focus {
			cursor: pointer;
			background-color: lighten($colorMineShaftDark, 15%);
		}
	}
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
}

.content-column {
    flex-direction: column;
}

.item-icon {
    position: relative;
    width: 40px;
    height: 35px;
    top: -48.5px;
    left: 129px;
    background-color: $colorMineShaftDark;
}

.item-icon i {
    position: absolute;
    top: 10px;
    filter: invert(100%);
}

.item {
    width: 298px;
    background-color: $colorWhite;
    padding: 30px;
    margin-bottom: 30px;
	@include border(all, $colorAlto);
    
    &:hover,
    &:focus {
        box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.49);
    }
}

.art-preview {
    text-align: center;  
    margin-top: -14px;
    
    h2 {
        @include fontMontserrat(20px);
        text-transform: uppercase;
        color: $colorMineShaftDark; 
        letter-spacing: 1.2px;
        line-height: 1.4;
        margin: 5px 0 7px 0;
    }
    
    h3 {
        @include fontHind(14px);
        font-weight: 400;
        text-transform: uppercase;
        color: $colorDustyGray;
        letter-spacing: 1.5px;
        margin: 0;
    }
    
    p {
        @include fontHind(15px);
        color: $colorTundora;
        letter-spacing: 1.32px;
        line-height: 1.867;
        margin-bottom: 0;
    }
    
    button {
        position: relative;
        @include fontHind(14px);
        text-transform: uppercase;  
        width: 126px;
        font-weight: 500;
        letter-spacing: 2.9px;
        line-height: 1.714;
        margin-top: 33px;
        background-color: rgba(255, 255, 255, .1);
        border: none;
		@include border(right, $colorAlto);
		@include border(left, $colorAlto);
        
        &:hover,
        &:focus {
            cursor: pointer;
            border-right: none;
            border-left: none;
        }
        
        &:hover:before,
        &:focus:before,
        &:hover:after,
        &:focus:after {
            position: absolute;
            content: '';
            left: 38%;
            width: 30px;
			@include border(top, $colorAlto);
        }

        &:hover:before {
            top: -4px;
        }

        &:hover:after {
            top: 25px;
        }
    }
}

.art-social {
    line-height: 58px;
    padding: 0 30px;
    margin: 43px -30px 0 -30px;
	@include border(top, $colorAlto);
    
    i {
        &:hover,
        &:focus {
            cursor: pointer;
            transform: scale(1.5);
        }
    }
    
    h3 {
        display: inline;
        @include fontHind(14px);
        text-transform: uppercase;
		color: $colorDustyGray;
        font-weight: 400;
        letter-spacing: 1.3px;
        padding-left: 4px;
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: $colorMineShaftDark;
        }
    }
    
    div {
        float: right;
        color: $colorTundora;
        word-spacing: 14px;
    }
}

.item-media {
    height: 254px;
    background-color: #f4f4f4;
    margin: -30px;
    margin-bottom: 30px;
}

.item-with-background {
    background: url(../img/item-background.png) 9% 5%;
    
    .art-preview:first-child {
        padding-top: 18px;
    }
}

blockquote {
    margin: 0;
    background-color: $colorShark !important;
    
    .item-icon {
        background-color: $colorWhite;
    }
    
    .art-preview p {
        @include fontHind(17px);
        color: $colorWhite;
        letter-spacing: 1.5px;
        line-height: 1.7;
        margin: 0;
        margin-bottom: 27px;
    }
}

.item-black {
    height: 115px;
    text-align: center; 
    background-color: $colorShark !important;
    margin-top: 46.5px;
    
    .item-icon {
        background-color: $colorWhite;  
    }
    
    a {
        @include fontHind(17px);
        color: $colorWhite;
        letter-spacing: 1.5px;
        line-height: 1.55;
        overflow-wrap: break-word;
        
        &:hover,
        &:focus {
            color: $colorDustyGray;
        }
    }
}

.instagram-photo {
    background-color: $colorWhite;
}

.video-item {
    .item-media {
        margin-top: -65px;
    }
    
    .art-preview h3:first-of-type {
        margin-top: 49px;
    }
    
    .art-preview p {
        margin-bottom: -11px;
    }
}

.item-media {
    img {
        position: relative;
        top: 87.7%;
    }
    
    div {
        width: 178.5px;
        height: 126px;
        background-color: $colorWhite;
        
        &:nth-of-type(odd) {
            display: inline-block;
        }
        
        &:nth-of-type(even) {
            float: right;
        }
        
        &:nth-of-type(n+3) {
            margin-top: -3px;
        }
    }
}

.circle {
    display: inline-block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: rgb(153, 153, 153);
    margin-top: 25px;
}

.icon-picture {
    left: 8px;
}

.icon-pen,
.icon-quote,
.icon-th {
    left: 12px;
}

.icon-quote,
.icon-link,
.icon-th {
    filter: none !important;
}

.icon-film {
    left: 9px;
}

.icon-link, 
.icon-music {
    left: 10px;
}

.icon-link {
    transform: rotate(90deg);
}

.item-1,
.item-10 {
    height: 420px;
}

.item-2 {
    height: 449px;
}

.item-3 {
    height: 425px;
}

.item-4,
.item-5,
.item-9 {
    margin-bottom: 45px;
}

.item-4 {
    height: 494px;
}

.item-5 {
    height: 267px;
}

.item-6 {
    height: 503px;
}

.item-7 {
    height: 335px;
}

.item-8 {
    height: 227px;
}

.item-9 {
    height: 451px;
}

.item-10 {
    margin-bottom: 48px;
}

.item-11 {
    height: 390px;
}

footer {
    position: absolute;
    min-width: 100%;
    height: 412px;
    bottom: 0;
    left: 0;
    background-color: $colorShark;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 43px;
}

.footer-item {
    width: 361px;
    
    h2 {
        @include fontMontserrat(16px);
        text-transform: uppercase;
        color: $colorWhite;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    
    p {
        @include fontHind(15px);
        font-weight: 300;
        color: $colorWhite;
        line-height: 1.867;
        letter-spacing: 1.46px;
        margin-top: 0;
        margin-bottom: 3px;
    }
}

.signature {
    position: relative;
    height: 147px;
    background-color: #3a3c49;
    
    img {
        position: absolute;
        top: 82px;
        left: 164px;
    }
}

.tweet {
    i {
        color: $colorWhite;
    }
    
    h4 {
        display: inline-block;
        @include fontHind(14px);
        font-weight: 400;
        color: $colorWhite;
        letter-spacing: 1.4px;
        line-height: 1.714;
        margin-top: 0;
        margin-bottom: 8px;     
    }
    
    p {
        margin-left: 22px;
    }
	
	&:hover,
	&:focus {
		cursor: pointer;
	}
	
	&:hover i,
	&:focus i {
		transform: scale(1.5);
	}
	
	&:nth-of-type(2) {
		padding-top: 21px;
	}
}

.instagram {
    padding-top: 5px;
}

.instagram-photo {
    width: 117.2px;
    height: 98px;
    
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.comment {
    &:first-of-type {
        padding-bottom: 20px;
		@include border(bottom, #cccccc);
    }
    
    &:nth-of-type(2) {
        padding-top: 24px;
    }
    
    p:last-child {
        letter-spacing: 1.2px;
        line-height: 1.7;
    }
}

.down-bar {
    position: absolute;
    @include fontHind(14px);
    min-width: 100%;
    height: 32px;
    top: 371px;
    left: 0px;
	color: $colorRollingStone;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1.714;
    background-color: #17191c;
    padding-top: 9px;
    
    button {
		color: $colorRollingStone;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: .7;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        padding-left: 15px;
        border: none;
		@include border(left, $colorRollingStone);
        margin-left: 15px;
        
        &:hover,
        &:focus {
            color: $colorWhite;
            cursor: pointer;
        }
    }
}
