$colorMineShaftDark: #212121;
$colorShark: #212429;
$colorMineShaft: #3c3c3c;
$colorTundora: #464646;
$colorRollingStone: #747577;
$colorDustyGray: #999999;
$colorAlto: #dddddd;
$colorWhite: #ffffff;
