/* --------------- Import CSS-files --------------- */

@import "normalize.css";
@import "font-awesome.min.css";


/* --------------- Fonts --------------- */

@import "https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Montserrat:700";


/* --------------- Styles --------------- */ 

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #f9f9fb;
}

.container {
    position: absolute;
    width: 100%;
}

.container,
header {
    height: 345px;
    background-color: #212429;
}

.wrapper {
    width: 1530px;
    margin: 0 auto;
}

header section,
.header-button,
.art-preview,
.item-black {
    text-align: center;  
}

header section {
    height: 55px;
}

.header-button {
    display: inline-block;
    position: relative;
    line-height: 55px;
    border-left: 1px solid #3c3c3c;
}

.header-button:hover i,
.header-button:focus i,
.down-arrow:hover:before,
.down-arrow:focus:before,
.up-arrow:hover:after,
.up-arrow:focus:after,
.item h3,
.item-black a:hover,
.item-black a:focus {
    color: #999999;
}

.menu-trigger {
    float: left;
    width: 62px;
}

.logo {
    left: 155px;
    border-left: none;
}

.head-social {
    float: right;
}

.menu-trigger,
.head-social:last-child {
    border-right: 1px solid #3c3c3c;
}

.header-icon,
.tweet i {
    color: #ffffff;
}

.header-icon {
    width: 57px;
}

h1 {
    display: none;
}

main {
    position: relative;
    top: -290px;
    padding-bottom: 152px;
}

.slider {
    position: relative;
    width: 1530px;
    height: 584px;
}

.slider h2,
.slider h3,
.slider h4,
.newsletter input[placeholder],
.newsletter button,
.item h3,
.item p,
.item button,
.item-black a,
.footer-item p,
.tweet h4,
.down-bar {
    font-family: 'Hind', sans-serif;
}

.slider h2,
.slider h3,
.newsletter div h2,
.newsletter input[placeholder],
.newsletter button,
.item h2,
.item h3,
.item button,
.footer-item h2,
.down-bar, 
.down-bar button {
    text-transform: uppercase;
}

.slider h2,
.slider h4,
.featured-article h3 {
    position: absolute;
    color: #ffffff;
}

.slider h2,
.slider h4 {
    left: 100px;
}

.slider h2 {
    top: 232px;
    font-size: 40px;
    letter-spacing: 5.4px;
    line-height: 1.25;
}

.slider h4 {
    top: 203px;
    font-size: 18px;
    letter-spacing: 3.5px;
    line-height: 1.33;
}

.featured-article {
	position: relative;
}

.switch-states {
	position: absolute;
	top: -324px;
	right: 80px;
}

.switch-states div {
	width: 6px;
	height: 6px;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #ffffff;
	margin-top: 9px;
}

.switch-states div:nth-of-type(2) {
	background-color: #999999;
}

.switch-states div:hover, 
.switch-states div:focus {
    background-color: #464646;
}

.down-arrow:before,
.up-arrow:after {
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 27px;
	color: #ffffff;
	right: 38px;
	transform: rotate(-90deg);
}

.down-arrow:before {
	content: "\f177";
	top: -194px;
}

.up-arrow:after {
	content: "\f178";
	top: -422px;
}

.featured-article h3 {
	font-size: 14px;
	font-weight: 600;
	top: -322px;
	right: -32px;
	letter-spacing: 2.8px;
	transform: rotate(-90deg);
}

.newsletter {
    height: 100px;
    line-height: 100px;
    background-color: #f7f7f7;
    margin: 0;
}

.newsletter div,
.newsletter input,
.newsletter button {
    height: 50px;
    margin-right: 23px;
}

.newsletter div {
    display: inline-block;
    width: 200px;  
    height: auto;
    vertical-align: super;
    padding-left: 30px;
}

.newsletter div h2,
.item h2,
.footer-item h2 {
    font-family: 'Montserrat', sans-serif; 
}

.newsletter div h2,
.item h2 {
    font-size: 20px;
    color: #212121; 
    line-height: 1.4;
}

.newsletter div h2 {
    letter-spacing: 4px; 
}

.newsletter input,
.newsletter button {
    vertical-align: text-bottom;
    border: 1px solid #dddddd;
}

.newsletter input {    
    width: 420px;
}

.newsletter input[placeholder] {
    font-size: 15px;
    letter-spacing: 1.3px;
    padding-left: 30px;
}

.newsletter button,
blockquote .art-preview p,
.item-black a,
.footer-item h2,
.footer-item p,
.tweet h4 {
    color: #ffffff;
}

.newsletter button {
    width: 283px;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: normal;
    background-color: #212121;
}

.switch-states div:hover,
.switch-states div:focus,
.newsletter button:hover,
.newsletter button:focus,
.item button:hover,
.item button:focus,
.art-social i:hover,
.art-social i:focus,
.art-social h3:hover,
.art-social h3:focus,
.down-bar button:hover,
.down-bar button:focus,
.tweet:hover,
.tweet:focus {
	cursor: pointer;
}

.newsletter button:hover,
.newsletter button:focus {
	background-color: #424242;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
}

.content-column {
    flex-direction: column;
}

.item {
    width: 298px;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
}

.item:hover,
.item:focus {
	box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.49);
}

.item-icon {
    position: relative;
    width: 40px;
    height: 35px;
    top: -48.5px;
    left: 129px;
    background-color: #212121;
}

.item-icon i {
    position: absolute;
    top: 10px;
    filter: invert(100%);
}

.art-preview {
    margin-top: -14px;
}

.art-preview h2,
.art-preview h3,
blockquote {
    margin: 0;
}

.art-preview h2 {
    letter-spacing: 1.2px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.art-preview h3,
.art-social h3 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.art-preview p {
    font-size: 15px;
    color: #464646;
    letter-spacing: 1.32px;
    line-height: 1.867;
    margin-bottom: 0;
}

.art-preview button {
	position: relative;
    width: 126px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.9px;
    line-height: 1.714;
    margin-top: 33px;
    background-color: rgba(255, 255, 255, .1);
    border: none;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}

.art-preview button:hover,
.art-preview button:focus {
	border-right: none;
	border-left: none;
}

.art-preview button:hover:before,
.art-preview button:focus:before,
.art-preview button:hover:after,
.art-preview button:focus:after {
	position: absolute;
	content: '';
	left: 38%;
	width: 30px;
	border-top: 1px solid #d7d7d7;
}

.art-preview button:hover:before {
	top: -4px;
}

.art-preview button:hover:after {
	top: 25px;
}

.art-social {
    line-height: 58px;
    padding: 0 30px;
    margin: 43px -30px 0 -30px;
    border-top: 1px solid #d7d7d7;
}

.art-social i:hover,
.art-social i:focus {
	transform: scale(1.5);
}

.art-social h3:hover,
.art-social h3:focus {
	color: #000000;
}

.art-social h3 {
    display: inline;
    font-weight: 400;
    letter-spacing: 1.3px;
    padding-left: 4px;
}

.art-social div {
    float: right;
    color: #464646;
    word-spacing: 14px;
}

.item-media {
    height: 254px;
    background-color: #f4f4f4;
    margin: -30px;
    margin-bottom: 30px;
}

.item-with-background {
    background: url(../img/item-background.png) 9% 5%;
}

.item-with-background .art-preview:first-child {
    padding-top: 18px;
}

blockquote,
.item-black{
    background-color: #212429 !important;
}

blockquote .item-icon,
.item-black .item-icon,
.instagram-photo {
    background-color: #ffffff;
}

blockquote .art-preview p {
    font-size: 17px;
    letter-spacing: 1.5px;
    line-height: 1.7;
    margin: 0 0 27px 0;
}

.item-media img {
    position: relative;
    top: 87.7%;
}

.video-item .item-media {
    margin-top: -65px;
}

.video-item .art-preview h3:first-of-type {
    margin-top: 49px;
}

.video-item .art-preview p {
    margin-bottom: -11px;
}

.item-media div {
    width: 178.5px;
    height: 126px;
    background-color: #ffffff;
}

.item-media div:nth-of-type(odd) {
    display: inline-block;
}

.item-media div:nth-of-type(even) {
    float: right;
}

.item-media div:nth-of-type(n+3) {
    margin-top: -3px;
}

.item-black {
	height: 115px;
    margin-top: 46.5px;
}

.item-black a {
    font-size: 17px;
    letter-spacing: 1.5px;
    line-height: 1.55;
    overflow-wrap: break-word;
}

.circle {
    display: inline-block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: rgb(153, 153, 153);
    margin-top: 25px;
}

.icon-picture {
    left: 9px;
}

.icon-pen,
.icon-quote,
.icon-th {
    left: 12px;
}

.icon-quote,
.icon-link,
.icon-th {
    filter: none !important;
}

.icon-film {
    left: 9px;
}

.icon-link, 
.icon-music {
    left: 10px;
}

.icon-link {
    transform: rotate(90deg);
}

.item-1,
.item-10 {
	height: 420px;
}

.item-2 {
	height: 449px;
}

.item-3 {
	height: 425px;
}

.item-4,
.item-5,
.item-9 {
	margin-bottom: 45px;
}

.item-4 {
	height: 494px;
}

.item-5 {
	height: 267px;
}

.item-6 {
	height: 503px;
}

.item-7 {
	height: 335px;
}

.item-8 {
	height: 227px;
}

.item-9 {
	height: 451px;
}

.item-10 {
	margin-bottom: 48px;
}

.item-11 {
	height: 390px;
}

footer, .down-bar {
    position: absolute;
    min-width: 100%;
}

footer {
    height: 412px;
    bottom: 0;
    left: 0;
    background-color: #212429;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 43px;
}

.footer-item {
    width: 361px;
}

.footer-item h2 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.footer-item p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.867;
    letter-spacing: 1.46px;
    margin-top: 0;
    margin-bottom: 3px;
}

.signature {
    position: relative;
    height: 147px;
    background-color: #3a3c49;
}

.signature img {
    position: absolute;
    top: 82px;
    left: 164px;
}

.tweet:hover i,
.tweet:focus i {
	transform: scale(1.5);
}

.tweet:nth-of-type(2) {
    padding-top: 21px;
}

.tweet h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 1.714;
    margin-top: 0;
    margin-bottom: 8px;
}

.tweet p {
    margin-left: 22px;
}

.instagram {
    padding-top: 5px;
}

.instagram-photo {
    width: 117.2px;
    height: 98px;
}

.instagram-photo:hover,
.instagram-photo:focus {
	transform: scale(1.1);
}

.comment:first-of-type {
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.comment:nth-of-type(2) {
    padding-top: 24px;
}

.comment p:last-child {
    letter-spacing: 1.2px;
    line-height: 1.7;
}

.down-bar,
.down-bar button {
    color: #747577;
    letter-spacing: 1.2px;
}

.down-bar {
    font-size: 14px;
    height: 32px;
    top: 371px;
    left: 0px;
    line-height: 1.714;
    text-align: center;
    background-color: #17191c;
    padding-top: 9px;
}

.down-bar button {
    line-height: .7;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    padding-left: 15px;
    border: none;
    border-left: 1px solid #747577;
    margin-left: 15px;
}

.down-bar button:hover {
	color: #ffffff;
}
